/* BODY */
body {
    background-color: black;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* HEADER */
.header-main{
    font-weight: normal;
    font-size: 50px;
    color: white;
} 

.header-title{
    font-weight: 300;
    font-size: 41px;
    color: white;
} 

.header-desc{
    font-size: 21px;
    color: gray;
}

/* LINKS CTA (Click to Action */
.link-cta{
    color: aquamarine;
    font-size: 16px;
}

/* FOOTER */
.copyright{
    text-align: right;
    color: gray;
}